.posterdigital {
  width: 1920px;
  height: 1200px;
  font-family: 'Open Sans', sans-serif;
  color: #ecebe8;
  padding: 100px 50px;
  display: table;
  position: absolute;
}

.posterdigital::after {
  content: "";
  background: url("/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.posterdigital h2 {
  font-weight: bold;
}

.posterdigital .container-fluid {
  display: table-cell;
  vertical-align: middle;
}

.posterdigital .col-tracks {
  margin-right: 50px;
}

.posterdigital .col-tracks,
.posterdigital .col-albums {
  margin-top: 60px;
}

.posterdigital .template {
  display: none;
}

.posterdigital .secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item {
  margin-bottom: 40px;
}

.secondary .item {
  margin-bottom: 50px;
}

.item .artist {
  color: #1db954;
  font-size: 1.8rem;
  margin-top: 1rem;
  font-weight: bold;
}

.secondary .item .artist {
  font-size: 1.3rem;
}

.item .name {
  color: #191414;
  font-size: 2rem;
}

.secondary .item .name {
  font-size: 1.5rem;
}

