#app {
    width: 1920px;
    height: 1200px;
    font-family: 'Open Sans', sans-serif;
    color: #ecebe8;
    display: table;
    position: absolute;

    &::after {
        content: "";
        background: url('/img/background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    h2 {
        font-size: 3rem;
        font-weight: bold;
        position: absolute;
        right: 100px;
        top: 120px;
    }

    .container-fluid {
        display: table-cell;
        vertical-align: middle;
        padding: 0 100px;
    }

    .col-results {
        max-height: 800px;
        margin-top: 150px;
    }

    .principal {

    }

    .principal, .secondary {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
}

.item {
    margin-bottom: 40px;

    .secondary & {
        margin-bottom: 50px;
    }

    font-size: 3rem;
    font-weight: bold;

    .secondary & {
        font-size: 2.5rem;
    }

    .artist {
        color: #1db954;
        margin-top: 1rem;
    }

    .name {
        color: #191414;
    }
}
