#app {
    width: 1920px;
    height: 1080px;
    font-family: 'Open Sans', sans-serif;
    color: #eb2033;

    &::after {
        content: "";
        background: url('/img/background2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    h2 {
        font-size: 3rem;
        font-weight: bold;
        position: absolute;
        right: 100px;
        top: 80px;
    }

    .col-results {
        max-height: 800px;
        margin-top: 200px;
    }

    .secondary {
        margin-left: 50px;
    }

}

.item {
    margin-bottom: 40px;
    font-size: 3rem;
    font-weight: bold;

    .secondary & {
        margin-bottom: 50px;
    }

    .secondary & {
        font-size: 2.5rem;
    }

    .artist {
        color: #1d6450;
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .name {
        color: #191414;
    }
}

@media only screen and (min-height: 1200px) {
    #app {
        height: 1200px;
    }
}
